body {
    font-family: Arial, sans-serif;
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
    margin: 0;
    padding: 0;
  }
  
  form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
  }
  
  label {
    display: block;
    margin-bottom: 50px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: black;
  }
  
  .echo {
    color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
  }
  