* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: #f3f1f1 !important;
}

.navbar-expand-lg{
    background-color: blue;
}

a:hover {
    color: B4B4B3;
}