<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYAMBUNGIN BACKEND DAN FRONT END</title>
</head>
<body>
    <div class="" id="getBooks"></div>
    <form action="" id="addBook">
        <h5>addBook</h5>
        <input type="text" id="name" name="name" placeholder="name" required><br><br>
        <input type="text" id="author" name="author" placeholder="author" required><br><br>
        <input type="text" id="year" name="year" placeholder="year" required><br><br>
        <input type="number " id="page_count" name="page_count" placeholder="page_count" required><br><br>
        <input type="text" id="publisher" name="publisher" placeholder="publisher" required><br><br>
<input type="submit" value="KIRIM">
    </form>

    <script>
        const url = "http://localhost:2000"
        
       
    </script>
    <script src="./javascript/getBook.js">
        
    </script>
    
    <script src="./javascript/addBook.js"></script>
</body>
</html>