* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f1f1 !important;
}

.jumbotron {
    background-color: #fff;
}

.judul1 {
    font-size: 20px;
}

.judul2 {
    font-size: 20px;
}