<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Data</title>
</head>

<body>
    <center>
        <div class="" id="getBooks">
            <form action="" id="addBook">
                <h5>Tambah Buku</h5>
                <table>
                    <tr>
                        <td>Nama</td>
                        <td>: </td>
                        <td><input type="text" id="nama" name="nama" required></td>
                    </tr>
                    <tr>
                        <td>Penulis</td>
                        <td>: </td>
                        <td><input type="text" id="penulis" name="penulis" required></td>
                    </tr>
                    <tr>
                        <td>Penerbit</td>
                        <td>: </td>
                        <td><input type="text" id="penerbit" name="penerbit" required></td>
                    </tr>
                    <tr>
                        <td>Tahun</td>
                        <td>: </td>
                        <td><input type="text" id="tahun" name="tahun" required></td>
                    </tr>
                    <tr>
                        <td>Jumlah Halaman</td>
                        <td>: </td>
                        <td><input type="number " id="halaman" name="halaman" required></td>
                    </tr>
                    <td><input type="submit" value="submit"></td>
                </table>
            </form>
        </div>
    </center>
    <script>
        const url = "http://localhost:3000"

    </script>
    <script src="./javascript/getBook.js">

    </script>

    <script src="./javascript/addBook.js"></script>
</body>

</html>